.navbar-brand {
  font-family: 'Noto Serif NP Hmong', serif;
  font-size: 35px;
  margin-left: 10px;
  margin-right: 30px;
}

.navbar {
  padding: 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  height: 90px;
  width: 90px;
  background-color: #141414;
  margin-right: 30px;
  margin-left: 30px;
}

header {
  margin: 0px;
  background-image: url(../imagenes/fondoblanco.jpg) !important;
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 50px;
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 60px;
}

ul {
  list-style-type: none;
  margin-left: 150px;
}

.Pcontacto {
  text-align: left;
}

li {
  display: inline;
  font-size: 18px;
  margin: 5px;
}

div {
  font-size: 40px;
  font-family: 'Titillium Web', sans-serif;
  text-align: left;
}

body {
  margin: 0;
}

.boton {
  background-color: #1c1919;
  padding: 15px;
  font-size: 20px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.divBoton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.boton :hover {
  color: #0077b5;
}

p {
  font-family: 'Titillium Web', sans-serif;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

ol {
  display: -ms-grid;
  display: grid;
  font-weight: 800;
  padding: 20px;
  margin: 20px;
}

div.servicios {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

#carouselInicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.carousel-inner {
  width: 950px;
  height: 600px;
  margin: 0;
}

.Inicio {
  background-image: url(../imagenes/fondoblanco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  text-shadow: #000000 -1px 2px 4px;
}

.fondoInicio {
  background-image: url(../imagenes/fondoblanco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.inicio2 {
  padding-top: 50px;
  background-image: url(../imagenes/ladblanco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30px;
  margin-right: 30px;
}

footer {
  background-image: url(../imagenes/fblanco.jpg);
  padding: 40px;
}

.redes-sociales {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 0;
}

.redes-sociales a {
  color: #a82957;
  font-size: 40px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.Contacto {
  background-image: url(../imagenes/fondoblanco.jpg);
  padding: 20px 20px;
}

.form {
  background-image: url(../imagenes/architecture-1719526_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  margin-bottom: 20px;
  width: 80%;
  margin-left: 40px;
}

.form-label {
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  text-shadow: 2px 2px 4px #dcd4d4;
}

.redes-sociales a:hover {
  color: #0077b5;
}

.miembros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
  margin-bottom: 30px;
}

.carousel-control-next, .carousel-control-prev {
  -webkit-filter: invert(108%);
          filter: invert(108%);
}

.sobrenos {
  background-image: url(../imagenes/fondo-3d-cubos-blancos.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.miembros {
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.galeria {
  background-image: url(../imagenes/fondo-3d-cubos-blancos.jpg);
  background-size: cover;
  margin: 0px;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  margin-bottom: .5em;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(350px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 1em;
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 10px;
}

.cuadro {
  position: relative;
  max-width: 100%;
  max-height: 200px;
}

.foto {
  line-height: 0;
  overflow: hidden;
  max-width: 100%;
  max-height: 200px;
}

.foto img {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  -webkit-transition: -webkit-filter 0.3s ease-in;
  transition: -webkit-filter 0.3s ease-in;
  transition: filter 0.3s ease-in;
  transition: filter 0.3s ease-in, -webkit-filter 0.3s ease-in;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -o-object-fit: contain;
     object-fit: contain;
}

.lugar {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  background: rgba(90, 0, 10, 0.4);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cuadro:hover .lugar {
  opacity: 1;
}

.cuadro:hover .foto img {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

/* pantalla tactil */
@media (hover: none) {
  .lugar {
    opacity: 1;
  }
  .foto img {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.flexservicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicio {
  width: 300px;
  height: 350px;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 15px;
  position: relative;
  overflow: hidden;
}

.servicio img {
  width: 100%;
  height: 132.8px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.servicio :hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.servicio .servtexto {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 217.2px;
  padding: 15px;
  z-index: 2;
  background: rgba(46, 44, 44, 0.7);
  text-align: center;
}

.servicio p {
  font-size: 25px;
}

.servicio h3 {
  font-size: 35px;
  font-weight: 600;
}

@media (max-width: 420px) {
  .boton {
    background-color: #1c1919;
    font-size: 20px;
    padding: 15;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .redes-sociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline;
    padding: 0;
    margin: 0;
    margin-left: 35px;
  }
  .redes-sociales li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: inline;
  }
  .redes-sociales a {
    font-size: 40px;
  }
  .carousel-inner {
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #carouselInicio {
    height: 300px;
  }
  .cuadro {
    margin-right: 3px;
  }
  .inicio2 {
    background-image: none;
  }
  .miembros {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .miembros .card {
    margin-top: 40px;
  }
}

@media (max-width: 552px) {
  .logo, .navbar-brand {
    margin: 0px;
  }
  .container-fluid {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 795px) {
  .carousel-inner {
    height: 400px;
  }
}

@media (max-width: 860px) {
  .flexservicio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=sass.css.map */